.row
  %h1{style: 'text-align:center;'}
    Students drew these with code!

.row
  .span2
  .span8.infobox
    In the past
    %b= @days
    days, students have drawn
    %b= number_to_human(GalleryActivity.count)
    pictures by writing their own computer programs.
    Click on the pictures to see each program in action.
  .span2

.span{style: 'float:right;'}
  = link_to_next_page @gallery_activities, 'More &rarr;'.html_safe

%br{clear: :all}

- @gallery_activities.each do |gallery_activity|
  %div.gallery_activity
    - activity = gallery_activity.activity
    - level_source = activity.level_source
    = link_to image_tag(original_image_level_source_path(level_source)), level_source
    %div.caption
      by
      = activity.user.short_name
    %div.caption
      = time_ago_in_words activity.created_at
      ago

.span{style: 'float:right;'}
  = link_to_next_page @gallery_activities, 'More &rarr;'.html_safe

%br{clear: :all}

.row
  %h2.lesson{style: 'text-align:center'}
    Want to make your own?    
.row
  = render partial: 'shared/course_mini_block', locals: { id: "hoc" }
  = render partial: 'shared/course_mini_block', locals: { id: "20hour" }
