%div
  %h1 Which hint would you like to give in order to improve this program?
  = form_for([LevelSourceHint.new]) do |f|
    .field
      = text_field_tag :hint_content, nil, class: 'input-xxlarge', placeholder: t('add_hint_form.placeholder'), :required => true
      = hidden_field_tag :level_source_id, params[:level_source_id]
      = hidden_field_tag :redirect, level_stats_path(LevelSource.find(params[:level_source_id]).level_id)
    .actions
      = f.submit t('add_hint_form.submit')

= render partial: "levels/blockly", locals: { start_blocks: @start_blocks, app: @game.app, hide_source: @hide_source, share: @share }

.fb-comments{:data=> {:href => request.original_url, :numposts => 10, :colorscheme => "light"} }
