%h1 Listing hints
%table
  %thead
    %tr
      %th User id
      %th Hint message
      %th Puzzle link
      %th Time
  %tbody
    - @level_source_hints.each do |level_source_hint|
      %tr
        %td{:align => "center"}= level_source_hint.user_id
        %td{:width => "50%"}= level_source_hint.hint
        %td{:align => "center"}= link_to "Show", show_hints_path(level_source_hint.level_source_id)
        %td= level_source_hint.created_at.to_date
%br/
%h3= link_to "Add More Hints", frequent_unsuccessful_level_sources_path
