%div
  %h1 #{@num_of_attempts} students wrote the code below. Enter a targeted hint to help them solve the puzzle.
  %p Don't just give the answer. For example, instead of saying "you need to turn right instead of left", say "Make sure you're turning in the correct direction."
  - script = @script || Script.twenty_hour_script
  - if !@level.nil? && @level.ideal_level_source_id
    .solution_link
      #{link_to "See the puzzle", script_level_path(script, ScriptLevel.where(:script_id => script, :level_id => @level).first), :target => "_blank"}
      #{link_to t('reference_area.teacher'), script_level_solution_path(script, @level), :target => "_blank"}
  %table
    %tr
      %th ID
      %th Hint
      %th Number of Times Proposed
      %th Proposed User
    - @hints.each do |level_source_hint|
      %tr
        %td{:align => "center"}= level_source_hint.id
        %td= level_source_hint.hint
        %td{:align => "center"}= level_source_hint.times_proposed
        %td{:align => "center"}= level_source_hint.user_id
  %table{:width => "30%"}
    %tr
      %td= link_to "<< Prev", @prev_path
      %td= link_to "Next >>", @next_path

%br
= render partial: "levels/blockly", locals: { start_blocks: @start_blocks, app: @game.app, hide_source: @hide_source, share: @share }
