- if current_user && current_user.admin?
  %h3= t(:demos)
  %ul
    %li= link_to 'Feedback System', frequent_unsuccessful_level_sources_path
    - Script.all.each do |script|
      %li= link_to(data_t_suffix('script.name', script.name, 'desc'), script_level_path(script, ScriptLevel::NEXT))
  = link_to t("builder.manage"), levels_new_path
  %h3= link_to 'Admin Stats', admin_stats_path
  %h3= link_to 'Gallery', admin_gallery_path
