%h2= t('signin_form.title')
.row#signin
  .span8
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      = f.text_field :login, autofocus: true, placeholder: t('signin_form.login')
      = f.password_field :password, placeholder: t('signin_form.password')
      %br/
      - if devise_mapping.rememberable?
        %label
          = f.check_box :remember_me, { style: 'margin: 0;'}
          = t('signin_form.remember')
      = f.submit t('signin_form.submit'), class: "btn btn-primary"

    %br/
    %br/
    
    %h3= t('signin.try_heading')
    .row.tryfirst
      .span7
        %a{:href=>hoc_reset_path, :style=>'font-size:20px; font-weight:400'}
          #{t('signin.try_hoc')}
    .row.tryfirst
      .span7
        %a{:href=>root_path}
          #{t('signin.try_20hours')}

  .span4
    %div{ style: 'padding-left: 20px;  border-left: 1px solid black;' }= render "devise/shared/links"

%br/
%br/
%br/
%br/
%br/
%br/
  
:javascript
  $( "#user_login" ).placeholder();
