#blocklyApp
  .loading
  .slow_load
    = t(:slow_loading)
    %br
    %a{href: 'javascript: location.reload();'}= t(:try_reloading)

- content_for :body_scripts do
  -# Common scripts and styles
  - blockly_path = "#{ActionController::Base.asset_host}/blockly/"
  -# If no param, take default
  - pretty = params.fetch(:pretty, Rails.configuration.pretty_blockly)
  %link{href: "#{blockly_path}css/common.css", rel: 'stylesheet', type: 'text/css'}
  %link{href: "#{blockly_path}css/#{app}.css", rel: 'stylesheet', type: 'text/css'}

  %script{src: "#{blockly_path}js/#{js_locale}/vendor.js"}
  %script{src: "#{blockly_path}js/#{js_locale}/#{app}#{pretty ? '' : '.min'}.js"}

  - @instructions = data_t('level.instructions', "#{@level.game.app}_#{@level.level_num}")
  - @instructions ||= data_t('level.instructions', "#{@level.game.name}_#{@level.level_num}")
  -# Get instructions from db if available.
  - @instructions ||= @level.instructions

  - @levelIncompleteError = data_t('level.levelIncompleteError', "#{@level.game.app}_#{@level.level_num}")
  - @levelIncompleteError ||= data_t('level.levelIncompleteError', "#{@level.game.name}_#{@level.level_num}")

  - @other1StarError = data_t('level.other1StarError', "#{@level.game.app}_#{@level.level_num}")
  - @other1StarError ||= data_t('level.other1StarError', "#{@level.game.name}_#{@level.level_num}")

  - @tooFewBlocksMsg = data_t('level.tooFewBlocksMsg', "#{@level.game.app}_#{@level.level_num}")
  - @tooFewBlocksMsg ||= data_t('level.tooFewBlocksMsg', "#{@level.game.name}_#{@level.level_num}")

  - if @autoplay_video_info
    :javascript
      showVideo(#{@autoplay_video_info.to_json})

  - share = false if local_assigns[:share].nil?
  - hide_source = false if local_assigns[:hide_source].nil?
  - start_blocks = false if local_assigns[:start_blocks].nil?
  - slider_speed = false if local_assigns[:slider_speed].nil?
  - no_padding = false if local_assigns[:no_padding].nil?
  - maze = false if local_assigns[:maze].nil?

  :javascript
    // See assets/javascripts/sendReport for definition of nextRedirect etc.
    #{app}Main({
      levelId: '#{@level.level_num}',
      #{ "scriptId: '#{@script.id}'," if @script }
      #{ "levelGameName: '#{@level.game.name}'," if @level.game }
      callouts: #{@callouts.to_json} || [],
      createCallouts: function() {
        $.fn.qtip.zindex = 500;
        this.callouts.every(function(callout) {
          var selector = callout.element_id; // jquery selector.
          if ($(selector).length <= 0) { console.log("Couldn't find callout target."); return true;}
          
          var defaultConfig = {
            content: {
              text: callout.localized_text,
              title: {
                button: $('<div class="tooltip-x-close"/>').append($('<img src="#{asset_path 'x_button.png'}"/>'))
              }
            },
            style: {
              classes: "",
              tip: {
                width: 20,
                height: 20
              }
            },
            position: {
              my: "bottom left", 
              at: "top right"
            },
            hide: {
              event: 'click mousedown touchstart'
            },
            show: false // don't show on mouseover
          };
          
          var customConfig = $.parseJSON(callout.qtip_config);
          var config = $.extend(true, {}, defaultConfig, customConfig);
          config.style.classes = config.style.classes.concat(" cdo-qtips");
          
          var calloutDomElement = $(selector).qtip(config);
          calloutDomElement.qtip('show');
          
          return true;
        });
      },
      onInitialize: function() {
        this.createCallouts();
        onInitializeListeners.forEach(function(listener) {
          listener();
        });
        #{render(partial: 'levels/chrome34Fix', formats: :js) if chrome_version == 34}
      },
      locale: '#{js_locale}',
      containerId: 'blocklyApp',
      baseUrl: '#{blockly_path}',
      cacheBust: '#{blockly_cache_bust}',
      onAttempt: function(report) {
        report.fallbackResponse = #{@fallback_response.to_json};
        #{("report.level_type = 'artist';") if @artist_builder}
        report.callback = '#{@callback}';
        if (#{@artist_builder.to_json}) {
          report.onComplete = function(response) {
            window.location.href = nextRedirect;
          };
        }
        sendReport(report);
      },
      onContinue: function() {
        if (videoInfo) {
          showVideo(videoInfo);
        } else if (nextRedirect) {
          window.location.href = nextRedirect;
        }
      },
      backToPreviousLevel: function() {
        if (previousLevelRedirect) {
          window.location.href = previousLevelRedirect;
        }
      },
      Dialog: Dialog,
      referenceArea: function() {
        var referenceDiv = $('#{escape_javascript(render partial: "levels/reference_area")}');
        referenceDiv.find('.video_link').each(function() {
          addClickTouchEvent($(this), $.proxy(function() {
            showVideo({
              src: $(this).attr('data-src'),
              name: $(this).attr('data-name'),
              key: $(this).attr('data-key'),
              download: $(this).attr('data-download'),
              thumbnail: $(this).attr('data-thumbnail')
            });
          }, this));
        });
        return referenceDiv[0];
      },
      showInstructionsWrapper: function(showInstructions) {
        if (#{not share}) {
          if ('#{@autoplay_video_info}') {
            $('.video-modal').on('hidden.bs.modal', function () {
              showInstructions();
            });
          } else {
            showInstructions();
          }
        }
      },
      hide_source: #{hide_source},
      share: #{share},
      no_padding: #{no_padding},
      position: { blockYCoordinateInterval: 25 },
      level: {
        puzzle_number: #{@script_level ? @script_level.game_chapter : 1},
        stage_total: #{@script ? @script.script_levels_from_game(@level.game_id).length : @level.game.levels.count},
        instructions: '#{escape_javascript(@instructions)}',
        levelIncompleteError: '#{escape_javascript(@levelIncompleteError)}',
        other1StarError: '#{escape_javascript(@other1StarError)}',
        tooFewBlocksMsg: '#{escape_javascript(@tooFewBlocksMsg)}',
        #{("builder: " + @artist_builder.to_json + ",") if @artist_builder}
        #{("startBlocks: '" + start_blocks + "',") if start_blocks}
        #{("solutionBlocks: '" + @solution_blocks + "',") if @solution_blocks}
        #{("sliderSpeed: '" + slider_speed + "',") if slider_speed}
        #{("maze: '" + maze + "',") if maze}
        #{("toolbox: '" + escape_javascript(@toolbox_blocks) + "',") if @toolbox_blocks}
        #{("initialX: #{@level[:x]},") if @level[:x]}
        #{("initialY: #{@level[:y]},") if @level[:y]}
        #{("startDirection: #{@level[:start_direction]},") if @level[:start_direction]}
      },
      skinId: '#{@level.skin}'
    });
