.unplugged.multi
  %h2 #{data_t('multi', @game.name)[:title]}
  %p #{data_t('multi', @game.name)[:desc]}

  =@level.game.name
  -data = YAML.load(File.read("config/puzzles/" + @level.level_num + ".multi.yml"))

  -if data[:style] == 'radio'
    %div{:style=>'margin-left:20px'}
      %b= data[:questions][0][:text]
      %form#voteform{onsubmit: "return doVote()"}
        -index = 0
        -data[:answers].each do |answer|
          %input{id: "choice_#{index}", name: "vote", type: "radio", value: "#{index}"}
            %label{style: "display:inline", for: "choice_#{index}"}= answer[:text]
          %br
          -index += 1
        %br
        %br
      .buttons
        %a.btn.btn-primary.next-stage
          Submit
    %br/
    %br/
    %br/

  -if data[:style] == 'drag'
    %div{:style=>'margin-left:20px'}
      %div{:style=>'height:40px'}
        %b Match the questions with the answers
      %div{:style=>'width: 220px; float:left'}
        %ul.sortableq
          -data[:questions].each do |question|
            %li= question[:text]
      %div{:style=>'width: 220px; float:left'}
        %ul.sortable{:style=>'cursor:default'}
          -data[:answers].each do |answer|
            %li= answer[:text]
      %div{:style=>'clear:both'}
      %br/
      %div
        .buttons
          %a.btn.btn-primary.next-stage
            Submit

  %div{:style=>'clear:both'}

:javascript

  $(function() {
    $( ".sortable" ).sortable();
    $( ".sortable" ).disableSelection();
  });

  var clickedNext = false;
  $('a.next-stage').click(function() {
    if (!clickedNext) {
      clickedNext = true;
      sendReport({
        fallbackResponse: '#{@fallback_response.to_json}',
        callback: '#{@callback}',
        app: 'multi',
        level: '#{@level.level_num}',
        result: true,
        testResult: 100,
        onComplete: function() {
          if (videoInfo) {
            showVideo(videoInfo);
          } else if (nextRedirect) {
            window.location.href = nextRedirect;
          }
        }
      });
    }
  });
