%h2 Upload a CSV file of your level


= link_to "Maze Builder Form", "https://docs.google.com/a/code.org/spreadsheet/ccc?key=0AiC6nqpbvNmgdDZJMy1NdkhrQW5jVThreDlKRzYwTXc&usp=drive_web#gid=0"

= form_for [@game, @level], html: {multipart: true} do |level_form|
  = hidden_field_tag :size, 8
  = hidden_field_tag :level_type, "maze"
  = file_field_tag "maze_source"
  = level_form.text_area :instructions, placeholder: "Instructions", rows: 4
  = level_form.text_area :name, placeholder: "Level Name", rows: 4
  = level_form.select :start_direction, options_for_select([['Up', 0], ['Right', 1], ['Down', 2], ['Left', 3]])
  = level_form.submit "Create Level"
